services:
  api:
    build:
      context: .
      dockerfile: docker/api/Dockerfile
    ports:
      - "3000"
  app:
    build:
      context: .
      dockerfile: docker/app/Dockerfile
    ports:
      - "4173"
